---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Python from "./icons/Python.astro"
import GoogleSheets from "./icons/GoogleSheets.astro"
import Streamlit from "./icons/Streamlit.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Lepoool from "./icons/Lepoool.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#306998] text-white",
    icon: Python,
  },
  GOOGLE_SHEETS: {
    name: "Google Sheets",
    class: "bg-[#306998] text-white",
    icon: GoogleSheets,
  },
  STREAMLIT: {
    name: "Streamlit",
    class: "bg-[#306998] text-white",
    icon: Streamlit,
  },
  LEPOOOL: {
    name: "Le Poool",
    class: "bg-[#306998] text-white",
    icon: Lepoool,
  },
}
const PROJECTS = [
  {
    title: "Bugdet Tracking - Crédit Agricole Google Sheets",
    description:
      "Automatisation de la récupération des données de l'application Crédit Agricole pour un suivi des dépenses et des revenus.",
    link: "https://docs.google.com/spreadsheets/d/1NvhKyCqQK515gzzyhcQUO0TfHJLnYhUB1hptQ-sZAT0/edit?usp=sharing",
    github: "https://github.com/dlakisic/BudgetTracking_CreditAgricole_Gsheet",
    image: "/projects/svgl.webp",
    tags: [TAGS.PYTHON, TAGS.GOOGLE_SHEETS],
  },
  {
    title: "Anaylse de l'IPS des établissements scolaires français",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.PYTHON, TAGS.STREAMLIT],
  },
  {
    title: "Hackathon des 10 ans de la French Tech",
    description:
      "En 24h, nous avons réalisé une solution qui permet d'adapter un article de journal à différentes audiences en utilisant l'IA. Nous avons remporté le 1er prix.",
    link: "https://lepoool.tech/pour-les-10-ans-de-la-french-tech-nous-avons-teste-pour-vous-lia-generative-retour-sur-le-hackathon/",
    image: "/projects/adventjs.webp",
    tags: [TAGS.PYTHON, TAGS.STREAMLIT],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



